work/*
doc/html
doc/html/*
doc/mxlib.tag.xml
doc/citelist*
doc/*.aux
include/mxlib_uncomp_version.h
include/mxlib_comp_version.h
old/*
testing/*
local/*
license.blurb
!local/Common.example.mk
!local/MxApp.example.mk
!local/MxLib.example.mk
*.a
*.so
*.dylib
a.out
*.o
*.swp
