work/*
doc/html
doc/html/*
doc/mxlib.tag.xml
doc/citelist*
doc/*.aux
include/mxlib_uncomp_version.h
source/mxlib_comp_version.h
old/*
testing/*
local/*
license.blurb
!local/Common.example.mk
!local/MxApp.example.mk
!local/MxLib.example.mk

.vscode/*

tests/mxlibTest
tests/include/ao/sim/pyramidSensor_test
*.a
*.so
*.dylib
a.out
*.o
*.swp
.*~
